.custom-navbar {
    background-color: #333;
    color: white;
    padding: 1rem;
  
    .custom-navbar-menu {
      list-style: none;
      display: flex;
      justify-content: space-around;
  
      .custom-navbar-item {
        margin: 0 1rem;
  
        .custom-navbar-link {
          display: flex;
          align-items: center;
          padding: 0.5rem 1rem;
          text-decoration: none;
          color: inherit;
          border-radius: 0.5rem;
          transition: background-color 0.2s ease;
  
          &:hover {
            color: #f44336;
            
          }
        }
      }
    }
  }