// Variables
$color-white: #fff;
$color-gray: #333;
$color-light-gray: #e5e7eb;
$color-red: #f87e7e;
$background-dark: rgba(18, 18, 18, 0.91);
$border-radius-large: 1rem;
$transition-duration: 0.3s;
$z-index-drawer: 1000;
$width-drawer-button: 5rem;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition($properties...) {
  transition: $properties;
}

// Styles
.drawer {
  position: relative;

  &-toggle {
    display: none;
  }

  &-content {
    flex-grow: 1;
    @include flex-center;
  }

  &-end .drawer-content {
    transform: translateX(0);
  }

  &-side {
    position: fixed;
    top: 10%;
    right: 0;
    background-color: $background-dark;
    color: $color-white;
    transform: translateX(100%);
    @include transition(transform $transition-duration);
    border-radius: $border-radius-large 0 0 $border-radius-large;
    z-index: $z-index-drawer;

    @media (min-width: 992px) {
      top: 7.7%;
      // height: 50%;
      // width: 20%;
    }
  }

  &-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: $color-gray;
    cursor: pointer;
    opacity: 1;
    visibility: hidden;
    @include transition(opacity $transition-duration, visibility 0s linear $transition-duration);
  }

  #my-drawer-4:checked ~ .drawer-side {
    transform: translateX(0);
  }

  #my-drawer-4:checked ~ .drawer-side .drawer-overlay {
    opacity: 1;
    visibility: visible;
    @include transition(opacity $transition-duration);
  }

  &-button {
    display: flex;
    justify-content: center;
    width: $width-drawer-button;
    border-radius: 9999px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.menu-drawer {
  list-style: none;

  li {
    margin: 1rem;
    a {
      border-radius: 10px;
      text-align: center;
      padding: 10px;
      text-decoration: none;
      color: inherit;
      @include transition(background-color 0.2s ease);

      &:hover {
        background-color: $color-red;
        @include transition(scale $transition-duration);
      }
    }

    &:where(li:not(.menu-title) > *:not(ul, details, .menu-title, .btn)),
    &:where(li:not(.menu-title) > details > summary:not(.menu-title)) {
      border-radius: var(--rounded-btn, 0.5rem);
      padding: 0.5rem 1rem;
      text-align: start;
      cursor: pointer;
    }
  }
}
