// Variables
$color-loading-logo: #f05c0d;
$font-size-loading-logo: 300px;
$animation-duration: 1s;
$animation-timing: linear;
$animation-iteration: infinite;
$height-full: 100vh;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin animation($name, $duration, $timing, $iteration) {
  animation: $name $duration $timing $iteration;
}

// Keyframes
@keyframes spin {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg);
  }
}

// Styles
.loading-container {
  @include flex-center;
  height: $height-full;
}

.loading-logo {
  font-size: $font-size-loading-logo;
  color: $color-loading-logo;
  @include animation(spin, $animation-duration, $animation-timing, $animation-iteration);
}

