$padding : 5px;
$bg-color : #f3f4f6;

// création d'un mixin pour un padding et d'un background gris au survole d'un lien
@mixin hover-link($padding, $bg-color) {
    padding: $padding;
    background-color: $bg-color;
}

// création d'un mixin pour reprendre un background d'image
@mixin bg-image($url) {
    background-image: url($url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
// création d'un mixin pour un padding et d'un background gris au survole d'un lien
@mixin hover-link($padding, $bg-color) {
    padding: $padding;
    background-color: $bg-color;
}
// mise en place d'un mixin pour un scale au hover sur les a href
@mixin hover-scale($scale) {
    &:hover {
        transform: scale($scale);
    }
}
// background transparent 
@mixin bg-transparent {
    background-color: #f8fafb85;
}
@mixin notification-style {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
  }