// Variables de couleur
$primary-color: #ff4747;
$secondary-color: #333;
$bg-color: rgb(75, 32, 65);
$light-bg-color: #f3f4f6;
$hover-color: #6366f1;

// Styles pour la barre de navigation
#navbar-header {
  .navbar {
    display: flex;
    justify-content: space-around;
    // padding: 1rem 0;
    align-items: center;
    background-color: #A7001E;
    // background-color: #392E2C;
    // background-color: $bg-color;
    // color: #ffffff;
    box-shadow:
      0 2px 4px 0 rgba(0, 0, 0, 0.1),
      0 2px 4px 0 rgba(0, 0, 0, 0.06);
    width: 100%;
  }
  .md-hidden {
    display: block;
  }

  .navbar-start,
  .navbar-center,
  .navbar-end {
    display: flex;
    align-items: center;
  }

  #navbar-logo {
    img {
      display: none;
    }
  }

  #navbar-dropdown {
    position: relative;

    .btn-ghost {
      background: none;
      border: none;
      color: #ffffff;
      cursor: pointer;
      padding: 5px 10px;
      display: block;

      &:hover {
        color: #392E2C;
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      top: 110%;
      right: 0;
      width: 120px;
      left: 10%;
      background-color: #f3f4f62e;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 10px;
      border-radius: 4px;
      flex-direction: column;


      li {
        list-style: none;
        margin: 10px 0;
        cursor: pointer;

        a {
          color: $secondary-color;
          text-decoration: none;
          &:hover {
            color: $light-bg-color;
            padding: 5px;
            border-radius: 0.25rem;
            background-color: $danger;
          }
        }
      }
    }

    &.open .dropdown-content {
      display: flex;
    }
  }

  .menu-horizontal {
    display: none;

    li {
      margin-right: 20px;
      list-style: none;

      a {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: bold;
        text-transform: uppercase;

        &:hover {
          color: #392E2C;
        }
      }
    }
  }

  #navbar-end {
    .btn-primary-login {
      padding: 0.8rem 1.5rem;
      margin: 0 10px;
      // border-radius: 20px;
      background-color: transparent;
      color: #fff;
      cursor: pointer;

      // &:hover {
      //   background-color: darken($primary-color, 10%);
      //   color: #fff;
      //   scale: 1.1;
      //   transition: scale 0.3s;
      // }
    }
  }

  // Styles pour les écrans plus grands
  @media (min-width: 768px) {
    .btn-ghost {
      display: none;
    }
    .md-hidden {
      display: none;
    }
    
      .navbar {
        padding: 1rem 8rem;
      }
    #navbar-logo {
      img {
        width: 60px;
        display: block;
        &:hover {
          scale: 1.1;
          transition: scale 0.3s;
        }
      }
    }

    .menu-horizontal {
      display: flex;
    }

    .dropdown-content {
      display: none !important;
    }
    
  }
}

// Styles pour les petits écrans
@media (max-width: 1024px) {
  #navbar-header {
    .navbar {
      flex-direction: row;
    }

    .navbar-start {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .navbar-center {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }


    #navbar-dropdown {
      // width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
