$primary-color: #007bff;
$primary-hover-color: #0056b3;
$secondary-color: #6c757d;
$secondary-hover-color: #5a6268;
$error-color: #dc3545;
$success-color: #28a745;
$font-family: 'Roboto', sans-serif;
$input-border-color: #ddd;
$input-background-color: #f9f9f9;
$focus-border-color: #007bff;
$focus-box-shadow-color: rgba(0, 123, 255, 0.5);
$text-color: #333;
$label-color: #555;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$max-width: 800px;
$padding: 2rem;
$margin: 3rem auto;
$border-radius: 10px;
$font-size: 1rem;
$font-weight: 500;

// $properties est une liste de propriétés CSS.
// Le mixin transition accepte plusieurs propriétés comme arguments et applique les transitions correspondantes. 
// il est utilisé pour input,textarea, et select
@mixin transition($properties...) {
  transition: $properties;
}

@mixin focus-style {
  border-color: $focus-border-color;
  background-color: #fff;
  box-shadow: 0 0 5px $focus-box-shadow-color;
  outline: none;
}

.create-recette {
  max-width: $max-width;
  margin: $margin;
  padding: $padding;
  border-radius: $border-radius;
  box-shadow: 0 4px 15px $box-shadow-color;
  background-color: #ffffff;
  font-family: $font-family;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: $text-color;
    font-size: 2rem;
    font-weight: $font-weight;
  }

  form {
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 1.5rem;
    }
  }

  label {
    margin-bottom: 0.5rem;
    font-weight: $font-weight;
    color: $label-color;
    display: block;
  }

  input,
  textarea,
  select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid $input-border-color;
    border-radius: 5px;
    background-color: $input-background-color;
    color: $text-color;
    font-size: $font-size;
    @include transition(all 0.3s ease);
    
    &:focus {
      @include focus-style;
    }
  }

  button {
    padding: 0.75rem 1.5rem;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: $font-size;
    @include transition(background-color 0.3s ease);
    margin-top: 1rem;

    &:hover {
      background-color: $primary-hover-color;
    }

    &[type="button"] {
      background-color: $secondary-color;

      &:hover {
        background-color: $secondary-hover-color;
      }
    }
  }

  .error {
    color: $error-color;
    font-size: 0.875rem;
  }

  .success {
    color: $success-color;
    font-size: 0.875rem;
  }

  .array-input {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}