// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

$logo-height: 6em;
$logo-padding: 1.5em;
$transition-duration: 300ms;
$hover-drop-shadow-color: #646cffaa;
$hover-drop-shadow-react-color: #61dafbaa;
$text-color: #888;

@mixin transition($properties...) {
  transition: $properties;
}

@mixin filter-drop-shadow($color) {
  filter: drop-shadow(0 0 2em $color);
}


.logo {
  height: $logo-height;
  padding: $logo-padding;
  will-change: filter;
  @include transition(filter $transition-duration);

  &:hover {
    @include filter-drop-shadow($hover-drop-shadow-color);
  }

  &.react:hover {
    @include filter-drop-shadow($hover-drop-shadow-react-color);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
// prefers-reduced-motion: no-preference n'est pas encore supporté sur les navigateurs cela permet de ne pas lancer l'animation si l'utilisateur a désactivé les animations

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: $text-color;
}