$white: #ffffff;
$dark-gray: #333;
$gray: #4b5563;
$blue: #6366f1;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$primary-shadow-color: rgba(38, 120, 255, 0.3);
$focus-shadow-color: rgba(0, 123, 255, 0.25);
$padding: 10px 20px;
$border-radius: 25px;
$max-width: 600px;
$margin: 20px auto;
$transition-duration: 0.3s;

// Mixins
@mixin box-shadow($shadow-color) {
  box-shadow: 0 4px 6px $shadow-color;
}

@mixin transition($properties...) {
  transition: $properties;
}

@mixin focus-style($shadow-color) {
  box-shadow: 0 2px 6px $shadow-color;
  outline: none;
}

// Styles
.search-bar {
  display: flex;
  align-items: center;
  background-color: $white;
  padding: $padding;
  border-radius: $border-radius;
  @include box-shadow($box-shadow-color);
  width: 100%;
  max-width: $max-width;
  margin: $margin;

  .btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    color: $dark-gray;
    text-decoration: none;
    @include transition(color $transition-duration);

    &:hover {
      color: $blue; // hover:text-blue-500
    }
  }

  .form-control {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 8px 15px;
    font-size: 16px; // Adjust the font size as needed
    border-radius: 15px;
    margin-right: 1rem;

    &:focus {
      @include focus-style($focus-shadow-color);
    }
  }

  .btn-primary-recette {
    padding: $padding;
    color: $white;
    border: none;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    @include transition(transform 0.2s, box-shadow 0.2s);

    &:hover,
    &:active {
      transform: translateY(-2px);
      @include box-shadow($primary-shadow-color);
    }
  }

  .search-results-count {
    text-align: center;
    font-size: 18px;
    color: $gray; // Dark gray for readability
    margin-top: 20px;
    font-weight: bold;
  }

  .form-control:focus {
    @include focus-style(rgba(0, 0, 0, 0.2));
  }
}