$avatar-size: 3rem;
$avatar-border-color: #fff;
$avatar-border-radius: 9999px;
$gap: 1px;
$space-x: 6rem;
$negative-margin: -1rem;
$margin-bottom: 2rem;
$reverse-space-x: 0;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


@mixin space-x($reverse) {
  margin-right: calc(1.5rem * $reverse);
  margin-left: calc($space-x * (1 - $reverse));
}

.avatar-group {
  @include flex-center;
  gap: $gap;
}

.-space-x-6 {
  margin-bottom: $margin-bottom;
  $reverse-space-x: 0; 
  @include space-x($reverse-space-x);
}

.rtl-space-x-reverse {
  $reverse-space-x: 1; 
  @include space-x($reverse-space-x);
}

.avatar {
  margin-left: $negative-margin;
  @include flex-center;
  border-radius: $avatar-border-radius;
  border: 1px solid $avatar-border-color;
  width: $avatar-size;
  height: $avatar-size;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


