// Variables for light and dark themes
$light-background: #f0f0f000;
$light-text: #333;
$dark-background: #333;
$dark-text: #f0f0f0;
$primary-color: #ff4747;


@mixin theme($background, $text) {
  background-color: $background;
  color: $text;
}

// style pour le theme dark
.themediv {
  @include theme($light-background, $light-text);
  position: fixed;
  top: 10rem;
  right: 0;
  padding: 1rem;
  z-index: 1000;
  transition: all 0.3s ease;
  @media (min-width: 1024px) {
    top: 0;
  }
}

.toggle {
  appearance: none;
  width: 50px;
  height: 25px;
  background-color: #f0f0f0;
  border: #333 solid 1px;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  outline: none;
  @include transition(background-color 0.3s ease);

  &::before {
    content: "\1F311"; // Unicode for moon
    position: absolute;
    top: 3px;
    left: 4px;
    // width: 21px;
    // height: 21px;
    // background-color: #f0f0f0;
    border-radius: 50%;
    @include transition(left 0.3s ease, background-color 0.3s ease);
  }

  &:checked {
    background-color: #ffeb3b;

    &::before {
      content: "\2600"; // Unicode for sun
      background-color: #ffeb3b;
      left: 27px;
    }
  }
}

body.dark-mode .themediv {
  @include theme($dark-background, $dark-text);
}
